body {
    background-image: url(./images/moon-sky.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
}
#form-div {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    width: 500px;
    margin: auto;
    padding: 80px;
    background: rgb(182,9,39);
    background: linear-gradient(90deg, rgba(182,9,39,1) 0%, rgba(54,5,122,1) 0%, rgba(2,0,36,1) 0%, rgba(54,5,122,1) 100%, rgba(64,5,116,1) 100%, rgba(2,0,36,1) 100%);
    border-radius: 15px;
    margin-top: 200px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-div {
    text-align: center;
}

.email {
    text-align: center;
}

#emailHelp {
    color: white;
}

#password-div {
    text-align: center;
}

.password {
    text-align: center;
}

#remember-div {
    text-align: center;
}

#button {
    width: 100px;
}

#forgot {
    text-align: center;
    margin-bottom: 20px;
}